<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jzh.basemodule">

    <!--    (通过wifi和移动基站获取定位权限)，需要动态申请-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--    通过gps获取定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--  获取网络状态的权限  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--    手机震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--    读取电话状态，需要动态申请-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--    安装APK的权限，适用于8.0及以上-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--    安卓9开始，限制了http接口的访问，要加上配置才能访问-->
    <application
        android:networkSecurityConfig="@xml/network_security_config">

        <!--    安卓7开始，无法让外部程序访问自己创建的文件，需要提供临时权限    -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>